
database:
  url: jdbc:mysql://prod-db-product:3306/product?useAffectedRows=true&useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true
  userName: prod-product-user
  password: prod-product-pass
  initialSize: 10
  minIdle: 10
  maxActive: 100
  maxWait: 60000
  timeBetweenEvictionRunsMillis: 60000
  minEvictableIdleTimeMillis: 300000
  validationQuery: SELECT 'x'
  testWhileIdle: true
  testOnBorrow: false
  testOnReturn: false
  filters: wall

spring.redis:
  host: prod-redis
  port: 6379

spring.dubbo:
  scan: com.github
  protocol:
    name: dubbo
    port: 20882
  application:
    name: ${spring.application.name}
    registry:
      address: zookeeper://prod-zk1:2181
      timeout: 10000
    registries:
      -
        address: zookeeper://prod-zk2:2181
        timeout: 10000
      -
        address: zookeeper://prod-zk3:2181
        timeout: 10000
