
search.ip-port: prod-search1:9200,prod-search2:9200,prod-search3:9200

database:
  url:  jdbc:mysql://prod-db-search:3306/search-db-prod?useAffectedRows=true&useSSL=false&useUnicode=true&characterEncoding=utf8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true
  userName: prod-search-user
  password: prod-search-pass
  initialSize: 10
  minIdle: 10
  maxActive: 100
  maxWait: 60000
  timeBetweenEvictionRunsMillis: 60000
  minEvictableIdleTimeMillis: 300000
  validationQuery: SELECT 'x'
  testWhileIdle: true
  testOnBorrow: false
  testOnReturn: false
  filters: wall
